ul {
    -moz-column-count: 4;
    -moz-column-gap: 50px;
    -webkit-column-count: 4;
    -webkit-column-gap: 50px;
    column-count: 4;
    //height: 500px;
    column-gap: 50px;
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
    column-width: 150px;
}
li {
    height: 200px;
    min-height: 150px;
    overflow:auto;
    list-style: none;
}
